/* home page */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-image: url('../public/img/banner/parallax.jpg');
    background-size: cover;
    background-position: top 60px center;
}

#home span {
    color: coral;
}

/* new collections */

#new .one {
    position: relative;
}

#new .one img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#new .one .details {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .3s ease;
}

#new .one:hover .details {
    background-color: rgba(245, 178, 178, .7);
}

#new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    padding: 2.5px;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    transform: translateY(70px);
    transition: .3s ease;
}

#new .one .details button:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#new .one:nth-child(2) .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* shop page */

#shop-bg {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top center;
    background-image: linear-gradient(rgba(10, 5, 55, .3), rgba(5, 5, 45, .7)), url('../public/img/cart/cart.jpg');
}

#shop-bg h2 {
    color: aliceblue;
    letter-spacing: 1px;
}

.product {
    margin-bottom: 2rem;
    cursor: pointer;
}

#shop > div:nth-child(3) > div > a:nth-child(n),
#cart-container > div > div > table > tbody > tr > td:nth-child(3) > a {
    color: #1d1d1d;
    text-decoration: none;
}

.product img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
    transition: .3s all;
}

.product:hover img {
    opacity: .7;
}

.star {
    padding: 10px 0;
}

.star i {
    font-size: .8rem;
    color: goldenrod;
}

.product .buy-btn {
    background-color: #fb774b;
    opacity: 0;
    transform: translateY(20px);
    transition: .3s all;
}

.product:hover .buy-btn {
    opacity: 1;
    transform: translateY(0);
}

#shop > div:nth-child(3) > div > nav > ul > li.page-item.active > span {
    border-color: #fb774b;
    background-color: #fb774b;
}

.pagination a {
    color: #000;
}

/* item details page */

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.product-details select {
    display: block;
    padding: 5px 10px;
}

.product-details input {
    width: 50px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
}

.product-details input:focus {
    outline: none;
}

.buy-btn {
    opacity: 1;
    background-color: #fb774b;
    transition: .3s all;
}

/* shopping cart */

#cart-container {
    overflow-x: auto;
}

#cart-container table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
}

#cart-container table thead {
    font-weight: 700;
    border-bottom: 2px solid #888;
}

#cart-container table thead td {
    color: #fff;
    padding: 6px 0;
    border: none;
    background-color: #fd8c66;
}

#cart-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table td:nth-child(1) {
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#cart-container table tbody i {
    color: #8d8c89;
}

#cart-bottom .coupon > .col-wrapper,
#cart-bottom .total > .col-wrapper {
    border: 1px solid #b6b3b3;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5 {
    color: #fff;
    font-weight: 700;
    padding: 6px 12px;
    border: none;
    background-color: #fd8c66;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input,
#cart-bottom .total .col-wrapper > div {
    padding: 0 12px;
}

#cart-bottom .coupon input,
#cart-bottom .coupon button {
    height: 45px;
    margin: 0 0 20px 12px;
}

#cart-bottom .total h6 {
    color: #2a2a2a;
}

#cart-bottom .total .second-hr {
    width: 100%;
    height: 1px;
    background-color: #b8b7b3;
}

#cart-bottom .total .col-wrapper > button {
    display: flex;
    margin: 0 12px 20px 0;
}